.strength {
  margin-top: 0;
  height: 20px;
}

.strengthBar {
  display: inline;
  list-style: none;
  margin: 0;
  padding: 0;
}

.point:last-of-type {
  margin: 0;
}

.point {
  background: #ddd;
  border-radius: 2px;
  display: inline-block;
  height: 5px;
  margin-right: 1px;
  width: 62px;
}
