div.container {
  background: url("../../../assets/home-background-1.png");
  border-bottom: 1px solid #ccc;
  height: 600px;
  line-height: 8em;
  padding: 40px;
}

.todo {
  text-align: center;
}

.container a {
  text-decoration: none;
  border: 1px solid #ccc;
  color: #ff4800;
  padding: 15px;
  margin-right: 10px;
  width: 10%;
  font-size: 1.2em;
  border-radius: 2px;
}

.container a:hover{
  color: #fff;
  background-color: #ff4800;
}

.container h1 {
  font-family: "Lora", serif;
  color: #ff4800;
  font-size: 4em;
}

