<section>
  <form
    class="form-container"
    (submit)="onFormSubmit()"
    [formGroup]="signUpForm"
  >
    <div class="form-group">
      <label>Name: </label>
      <input
        type="name"
        class="form-input"
        name="name"
        formControlName="name"
      />
      <span
        *ngIf="
          signUpForm.controls['name'].invalid &&
          signUpForm.controls['name'].touched
        "
      >
        <span
          class="error"
          *ngIf="signUpForm.controls['name'].errors['required']"
          >Name is required</span
        >
        <span
          class="error"
          *ngIf="signUpForm.controls['name'].errors['pattern']"
          >No special chars are allowed</span
        >
        <span
          class="error"
          *ngIf="signUpForm.controls['name'].errors['minlength']"
          >Minumum 3 character is required</span
        >
      </span>
    </div>

    <div class="form-group">
      <label>Job Title: </label>
      <select class="form-input" formControlName="jobTitle">
        <option value="{{ j }}" *ngFor="let j of jobTitles">{{ j }}</option>
      </select>
      <span
        *ngIf="
          signUpForm.controls['jobTitle'].invalid &&
          signUpForm.controls['jobTitle'].touched
        "
      >
        <span
          class="error"
          *ngIf="signUpForm.controls['jobTitle'].errors['required']"
          >JobTitle is required</span
        >
      </span>
    </div>

    <div class="form-group">
      <label>Manager: </label>
      <select class="form-input" formControlName="managerEmail">
        <option *ngFor="let m of managers" value="{{ m.email }}">
          {{ m.name }}
        </option>
      </select>
      <span
        *ngIf="
          signUpForm.controls['managerEmail'].invalid &&
          signUpForm.controls['managerEmail'].touched
        "
      >
        <span
          class="error"
          *ngIf="signUpForm.controls['managerEmail'].errors['required']"
          >Manager is required</span
        >
      </span>
    </div>

    <div class="form-group">
      <label>Username/Email</label>
      <input
        type="text"
        class="form-input"
        name="email"
        formControlName="email"
      />
      <span
        *ngIf="
          signUpForm.controls['email'].invalid &&
          signUpForm.controls['email'].touched
        "
      >
        <span
          class="error"
          *ngIf="signUpForm.controls['email'].errors['required']"
          >Email is required</span
        >
        <span
          class="error"
          *ngIf="signUpForm.controls['email'].errors['pattern']"
          >please enter correct email format</span
        >
      </span>
    </div>

    <div class="form-group">
      <label>Password</label>
      <input
        type="password"
        class="form-input"
        name="password"
        formControlName="password"
        autocomplete="off"
      />
      <span
        *ngIf="
          signUpForm.controls['password'].invalid &&
          signUpForm.controls['password'].touched
        "
      >
        <span
          class="error"
          *ngIf="signUpForm.controls['password'].errors['required']"
          >Password is required</span
        >
        <span
          class="error"
          *ngIf="signUpForm.controls['password'].errors['minlength']"
          >Password should have at least 5 characters</span
        >
        <span
          class="error"
          *ngIf="signUpForm.controls['password'].errors['pattern']"
          >Characters allowed: [a-zA-Z0-9 _#]</span
        >
      </span>
      <span>
        <app-password-strength
          [passwordToCheck]="signUpForm.value.password"
          (passwordStrength)="passwordValid($event)"
        ></app-password-strength
      ></span>
    </div>
    <div class="form-group">
      <label>Password Again</label>
      <input
        type="password"
        class="form-input"
        name="repassword"
        formControlName="repassword"
      />
      <span
        *ngIf="
          signUpForm.controls['repassword'].invalid &&
          signUpForm.controls['repassword'].touched
        "
      >
        <span
          class="error"
          *ngIf="signUpForm.controls['repassword'].errors['required']"
          >Enter your password again</span
        >
      </span>
    </div>

    <div class="msg" style="text-align: center; color: red; font-size: 20px">
      {{ msg }}
    </div>

    <div class="form-group">
      <input
        type="submit"
        class="login-button"
        value="Sign Up"
        [disabled]="!signUpForm.valid"
      />
    </div>

    <div class="form-footer">
      Already signed up? <a routerLink="/login">Login here</a>
    </div>
  </form>
</section>
