body {
  margin: 0px;
  height: 100%;
}

section {
  width: 100%;
  height: 100%;
  display: flex;
  margin-top: 20px;
  justify-content: center; /* in flex, justify-content will give horizontal center */
  align-items: center; /* In flex, align-items will give us vertical center */
  background-color: #fafafa;
}

.form-container {
  width: 30%;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 4px;
  padding: 2rem;
  box-shadow: 1px 2px #333;
}

.form-input {
  background-color: #fafafa;
  border: 1px solid #cccccc;
  padding: 1%;
  width: 98%;
  height: 20px;
  border-radius: 2px;
  margin-bottom: 0px;
}

select {
  background-color: #fafafa !important;
  border: 1px solid #ccc !important;
  padding: 1% !important;
  width: 101% !important;
  height: 30px !important;
  border-radius: 2px !important;
}

.form-group {
  margin-bottom: 1rem;
  width:100%;
}
.form-footer {
  padding: 1rem;
  text-align: center;
}
.form-footer a {
  text-decoration: none;
  color: #000;
}
.form-footer a:hover {
  color: #444000;
}
.form-header {
  margin-bottom: 2rem;
  text-align: center;
}

.login-button {
  background-color: #fff;
  color: #ff4800;
  width: 101%;
  padding-top: 7px;
  padding-bottom: 7px;
  border: 1px solid #ccc;
  text-transform: uppercase;
  margin-top: 10px;
  border-radius: 2px;
}

.login-button:hover {
  background-color: #ff4800;
  color: #fff;
}

.error{
  color: red;
  font-size: 0.8em;
  margin-top: 5px;
}

.form-container span{
  display: block;
}

.form-footer a {
  text-decoration: underline;
  color: #000;
}
.form-footer a:hover {
  color: #ff4800;
}

